<head>
    <title>Turtleman Guitar</title>
</head>

<body>
    <nav class="black">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo pink-text text-accent-2">Le Turtleman</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="" class="pink-text text-accent-2">Information</a></li>
                <li><a href="" class="pink-text text-accent-2">Get Started</a></li>
                <li><a href="" class="pink-text text-accent-2">Chords</a></li>
            </ul>
        </div>
    </nav>
    <div class="parallax-container">
        <div class="parallax"><img src="http://wallpapercave.com/wp/VbjLZ6u.jpg"></div>
    </div>
    <div class="center-align">
        <h1 class="pink-text text-accent-2">Welcome to Turtleman's guitar page!</h1> {{> hello}} {{> info}}
    </div>
</body>

<template name="hello">
    <h3 class="pink-text text-accent-2">This site is made for you to look at different types of guitars.</h3>
</template>

<template name="info">
    <h2 class="pink-text text-accent-2">Check it out!</h2>
    <ul>
        <li><a href="http://www.guitarcenter.com/Electric-Guitars.gc" class="pink-text text-accent-2">Electric Guitars</a></li>
        <li><a href="http://www.guitarcenter.com/Acoustic-Guitars.gc" class="pink-text text-accent-2">Acoustic Guitars</a></li>
        <li><a href="http://www.guitarcenter.com/Acoustic-Guitars.gc?N=39211+14889#searchTabs" class="pink-text text-accent-2">Acoustic-Electric Guitars</a></li>
        <li><a href="http://www.guitarcenter.com/Classical-Nylon-Guitars.gc" class="pink-text text-accent-2">Classical and Nylon Guitars</a></li>
    </ul>
    <div class="parallax-container">
        <div class="parallax"><img src="http://www.ihdwallfree.com/wp-content/uploads/2013/10/black-and-white-guitar-photography.jpg"></div>
    </div>
</template>